*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

:root {
    --blue: rgba(45, 89, 126);
    --dark-grey: rgba(75, 75, 75, 0.9);
    --light-grey: rgba(214, 213, 213, 0.9);
    --white:  rgb(255, 255, 255);
}

h1,
h2 {
    color: var(--white);
    font-family: "Roboto", sans-serif
}

h3 {
    color: var(--dark-grey);
    font-family: "Roboto", sans-serif
}

body {
    background-color: var(--blue);
    color: var(--white);
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.input-container {
    width: 500px; 
    height: 400px;
    background-color: var(--white);
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.btn {
    background-color: var(--blue);
    color: var(--white);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 3rem;
    border-radius: 0.4rem;
    border: none;

}

.duration {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    height: 30px;
    border-radius: 4px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
}

.second-row {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.second-row input,
.second-row select {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    padding: 10px;
}