 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

:root {
    --blue: rgba(45, 89, 126);
    --dark-grey: rgba(75, 75, 75, 0.9);
    --light-grey: rgba(214, 213, 213, 0.9);
    --white: rgb(233, 229, 223)
}

h1,
h2 {
    color: var(--white);
    font-family: "Roboto", sans-serif
}

h3 {
    color: var(--dark-grey);
    font-family: "Roboto", sans-serif
}

body {
    background-color: var(--blue);
    color: var(--white);
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.input-container {
    width: 500px; 
    height: 400px;
    background-color: var(--white);
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem;
    border-radius: 1rem;
}

.toprow,
.secondrow {
    color: var(--dark-grey);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 12px;
    padding: 5px 12px;
    border: none; 
}

.btn {
    background-color: var(--blue);
    color: var(--white);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 3rem;
    border-radius: 0.4rem;
    border: none;
}