*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

:root {
    --darkblue: #003078;
    --blue: #1d70b8;
    --lightblue: #5694ca;
    --dark-grey: #505a5f;
    --light-grey: #f3f2f1;
    --white:  #ffffff;
}

h1,
h2 {
    color: var(--white);
    font-family: "Roboto", sans-serif
}

h3 {
    color: var(--dark-grey);
    font-family: "Roboto", sans-serif
}

body {
    background-color: var(--blue);
    color: var(--white);
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 20px;
    margin-top: 25px;
}

.input-container {
    width: 500px; 
    height: 525px;
    background-color: var(--white);
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    padding-bottom: 60px;
    gap: 15px
}

.attendees-head{
    display: flex;
    gap: 10px;
}

.duration {
    width: 320px;
    height: 35px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    border-radius: 4px;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
}

.addbtn {
    width: 20px;
    height: 20px;
    background-image: url("images/add_btn.svg");
    background-size: cover;
    border: none;
    background-color: transparent;
}

.second-row {
    display: flex;
    gap: 10px;
    padding:5px
}

.second-row input,
.second-row select {
    background-color: var(--light-grey);
    color: var(--dark-grey);
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    padding: 10px;
}

.costbtn {
    width: 300px;
    height: 35px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 3rem;
    border-radius: 0.4rem;
    border: none;
    position: absolute;
    bottom: 30px;
}

.results-container {
    width: 500px; 
    height: 150px;
    background-color: var(--white);
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    padding-bottom: 60px;
    gap: 15px
}